<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Google Icon -->
    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">

    <!-- Jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title>palmTreeSnsMain</title>

    <style>
        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .feed_box {
            margin: 20px 0;
            border: solid 1px gray;
            background-color: white
        }

        .modal_overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            z-index: 10000;
        }

        .modal_window {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 800px;
            height: 600px;
            position: relative;
            padding: 10px;
        }
    </style>

</head>
<body>

    <!-- 부트스트랩-네비바-기본 + 수정(search를 제외하고 전부 지움) -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed;width: 100%; z-index: 999">
        <div class="container-fluid" style="justify-content: space-between;flex-wrap: nowrap; min-width: 1000px">
            <a class="navbar-brand" href="/main"><img style="width: 100px; height: 50px;"
                                                    src="https://previews.dropbox.com/p/thumb/ABpXDV8rXR8o1VBYDzDiLXVCXbTu8MKDpVDm1YJLRkA_L7C4x7HZIKiL4iHklq1rRXbdOtY_vrofENA2f3hU1kd8DHYmDmoAwKxHsHmAXeoN2BKucS5s2sEqdVJusETKNDKKsPg7oDNbbVzcCGyC0zt0Myf6vhiVp6nsI0obbRMwFNlBhIBTrK2oEUg2OXUxuCrIKia6EE9_FpZFSmnO9LE2Cud7t18C42W1D8u5iipDO1GVX3Yi1QwxFwdasiEEF-VUmHi5vFoTQRhpuXnhcpfapDGG2rRsKfFIl5YpHMDHEM_AayORXo45jHRPUQAmgaoVNt7x0WeW8vRa8u2qpRVen7pOTefUr87h4cxHQzFmZ7eQAhlWMu6zFUb8bplnDMo/p.png">
            </a>
            <input class="form-control me-2" style="width: 400px" type="search" placeholder="Search" aria-label="Search">
            <div style="display: flex">
                <a href="/main" style="color: black"><span class="material-icons"
                                                        style="padding-right: 10px"> home</span></a>
                <span id="nav_bar_add_box" class="material-icons-outlined" style="padding-right: 10px">add_box</span>
                <!-- 프사 누르면 내려오는 드랍다운 -->
                <div class="dropdown">
                    <a href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="box" style="width: 25px; height: 25px">

                            <img class="profile"
                                src="{% get_media_prefix %}{{ user.profile_image }}">

                        </div>
                    </a>

                    <ul class="dropdown-menu" style="left:-158px" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="/content/profile">프로필</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/user/logout">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- 게시글 리스트(피드) 꾸미는 곳 -->
    <div style="display: flex; flex-direction: row;text-align: center; justify-content: center;padding-top: 60px; background-color:#FAFAFA">
        <div style="width: 500px;min-width: 500px;margin-right: 300px">
            <!-- 피드박스 시작 -->
            <!-- coomet_list데이터 정보를 가져오는 for문 -->
            <!-- 객체 feed로 받았기 때문에 클래스 Feed.xxx가 아닌 feed.xxx로 받아야함 -->
            {% for feed in feeds %}
                <div class="feed_box">
                    <!-- 프로필 -->
                    <div style="display: flex;flex-direction: row; align-items: center; margin: 20px; justify-content: space-between;">
                        <div style="display: flex;flex-direction: row;">
                            <div class="box" style="width: 35px; height: 35px; margin-right: 10px;">
                                <!-- 프로필 사진 -->
                                <!-- Feed에서 가져온 profile_image데이터 넣기 -->
                                <img class="profile"
                                    src="{% get_media_prefix %}{{ feed.profile_image }}">
                            </div>
                        <!-- 프로필 이름 -->
                            <div>
                                <!-- Feed에서 유저 id 가져오기 -->
                                {{ feed.nickname }}
                            </div>
                        </div>
                        {% if feed.nickname == user.nickname %}
                        <div style="display: flex;flex-direction: row;">
                            <div style="margin-right: 10px;">
                                <a href="/content/{{ feed.id }}/update/" style="color: black;">
                                    <span id="feed_edit_{{ feed.id }}" feed_id="{{ feed.id }}" class="material-icons">
                                        edit
                                    </span>
                                </a>
                            </div>
                            <div>
                                <a href="/content/{{ feed.id }}/delete/" style="color: black;">
                                    <span id="feed_delete_{{ feed.id }}" feed_id="{{ feed.id }}" class="material-icons-outlined">
                                        delete
                                    </span>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <!-- 게시글 이미지 Feed에서 가져온 image데이터 넣기 -->
                    <div><img style="width: 100%"
                            src="{% get_media_prefix %}{{ feed.image }}">
                    </div>
                    <!-- 아이콘 집합 -->
                    <div style="margin: 0 20px;display: flex; flex-direction: row; justify-content: space-between">
                        <div>
                            <!-- 좋아요,북마크 누른거 표시 -->
                            <span id="favorite_{{ feed.id }}" feed_id="{{ feed.id }}"
                                class="favorite material-icons-outlined"
                                style="color: red;cursor: pointer">{% if feed.is_liked %}
                                favorite{% else %}favorite_border{% endif %}</span>
                        </div>
                        <div>
                            <span id="bookmark_{{ feed.id }}" feed_id="{{ feed.id }}" class="bookmark material-icons-outlined" style="cursor: pointer">
                                {% if feed.is_marked %}
                                bookmark
                                {% else %}
                                bookmark_border
                                {% endif %}
                            </span>

                        </div>
                    </div>
                    <!-- 좋아요 Feed에 있는 like_count값 가져오기 -->
                    <div style="margin: 0 20px;text-align: left;font-size: 14px"> 춘식이 <b>외 {{ feed.like_count }}명</b>이
                        좋아합니다.
                    </div>
                    <!-- 게시글에 적어놓은 말 Feed에 있는 user_id, content 값 가져오기-->
                    <div style="margin: 0 20px;text-align: left;font-size: 16px">
                        <b>{{ feed.nickname }}</b> {{ feed.content }}
                    </div>
                    <!-- 댓글들 -->
                    <div id="reply_list_{{ feed.id }}" style="margin-bottom: 10px;">
                        {% for reply in feed.reply_list %}
                            <div style="margin: 0 20px;text-align: left;font-size: 14px">
                                <b>{{ reply.nickname }}</b> {{ reply.reply_content }}</div>
                        {% endfor %}
                    </div>

                    <!-- 댓글 입력란 -->
                    <div style="display:flex;flex-direction: row;align-items: center; border-top: solid 1px gray ">
                        <input id="reply_{{ feed.id }}" type="text" class="form-control"
                            style="box-shadow: none; border: none; outline: none"
                            placeholder="댓글 달기..">
                        <div feed_id="{{ feed.id }}" class="upload_reply"
                            style="width: 50px;color: cornflowerblue; font-weight: bold">
                            게시
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- 여기까지 게시글 리스트(피드) -->
        </div>
        <!-- 여기서부터 오른쪽 -->
        <div style="width: 400px; height: 1000px; position: fixed;left: 62%; z-index: 0">
            <!-- 우측 상단 프로필 -->
            <div style="display: flex;flex-direction: row; align-items: center; margin: 20px">
                <div class="box" style="width: 70px; height: 70px">
                    <!-- 프로필 사진 -->
                    <img class="profile"
                        src="{% get_media_prefix %}{{ user.profile_image }}">
                </div>
                <!-- 프로필 이름 -->
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold">
                        <!-- 닉네임 -->
                        {{ user.nickname }}
                    </div>
                    <div style="color: gray">
                        <!-- 이름 -->
                        {{ user.name }}
                    </div>
                </div>
            </div>
            <!-- 회원님을 위한 추천 + 모두보기 -->
            <div style="display: flex;flex-direction: row; justify-content: space-between">
                <div style="font-weight: bold; color: gray">
                    회원님을 위한 추천
                </div>
                <div>
                    <a href="#" style="font-weight: bold;color: black;text-decoration: none">모두보기</a>
                </div>
            </div>
            <!-- 추천회원 프로필1 -->
            <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
                <div style="display: flex; flex-direction: row">
                    <div class="box" style="width: 35px; height: 35px">
                        <!-- 프로필 사진 -->
                        <img class="profile"
                            src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold;font-size: 14px">
                            <!-- 추천닉네임 -->
                            이승연
                        </div>
                        <div style="color: gray;font-size: 14px">
                            <!-- 추천사유 -->
                            팀장
                        </div>
                    </div>
                </div>
                <!-- 팔로우버튼 -->
                <div>
                    <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">팔로우</a>
                </div>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
                <div style="display: flex; flex-direction: row">
                    <div class="box" style="width: 35px; height: 35px">
                        <img class="profile"
                            src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold;font-size: 14px">
                            정태희
                        </div>
                        <div style="color: gray;font-size: 14px">
                            팀원
                        </div>
                    </div>
                </div>

                <div>
                    <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">팔로우</a>
                </div>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
                <div style="display: flex; flex-direction: row">
                    <div class="box" style="width: 35px; height: 35px">
                        <img class="profile"
                            src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold;font-size: 14px">
                            송창주
                        </div>
                        <div style="color: gray;font-size: 14px">
                            팀원
                        </div>
                    </div>
                </div>

                <div>
                    <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">팔로우</a>
                </div>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
                <div style="display: flex; flex-direction: row">
                    <div class="box" style="width: 35px; height: 35px">
                        <img class="profile"
                            src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold;font-size: 14px">
                            이서연
                        </div>
                        <div style="color: gray;font-size: 14px">
                            매니저님
                        </div>
                    </div>
                </div>

                <div>
                    <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">팔로우</a>
                </div>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
                <div style="display: flex; flex-direction: row">
                    <div class="box" style="width: 35px; height: 35px">
                        <img class="profile"
                            src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold;font-size: 14px">
                            공영환
                        </div>
                        <div style="color: gray;font-size: 14px">
                            새신랑 매니저님
                        </div>
                    </div>
                </div>

                <div>
                    <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">팔로우</a>
                </div>
            </div>

            <div style="margin-top: 40px;font-size: 12px;color: gray; text-align: left"> 소개 도움말 홍보센터 API <br> 개인정보처리방침 약관 위치
                인기 계정 해시태그 언어
            </div>
            <div style="margin-top: 20px;font-size: 12px;color: gray; text-align: left"> ©2022 instagram from facebook</div>

        </div>
    </div>

    <!-- 첫번째 모달 -->
    <div id="first_modal" class="modal_overlay">
        <div class="modal_window">
            <div style="display: flex; flex-direction: row; justify-content: space-between">
                <div style="width: 40px;">

                </div>
                <div>
                    새 이미지 업로드
                </div>
                <div style="width: 40px;">
                    <span class="modal_close material-icons-outlined">close</span>
                </div>
            </div>
            <!-- 이미지 드래그앤드롭 공간 -->
            <div class="img_upload_space" style="border-top: solid 1px gray;width: 778px; height: 540px;margin-top: 10px">

            </div>
        </div>
    </div>

    <!-- 두번째 모달 -->
    <div id="second_modal" class="modal_overlay">
        <div class="modal_window">
            <div style="display: flex; flex-direction: row; justify-content: space-between">
                <div style="width: 40px; background: gray">

                </div>
                <div>
                    새 이미지 업로드
                </div>
                <div style="width: 40px; background: gray">
                    <span class="modal_close material-icons-outlined">close</span>
                </div>
            </div>

            <div style="border-top: solid 1px gray;display: flex; flex-direction: row;margin-top: 10px">
                <!-- 이미지 드래그앤드롭 공간 -->
                <div class="img_upload_space" style="width: 500px; height: 540px;">

                </div>
                <!-- 게시글 이미지에 달 코멘트 입력하는 공간 -->
                <div style="border-left: solid 1px gray">
                    <div>
                        <textarea id="input_feed_content" class="form-control" style="width: 276px; height: 400px"
                                id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <button id="feed_create_button" type="button" class="btn btn-primary" style="width: 100%">
                        공유하기
                    </button>
                </div>

            </div>

        </div>
    </div>

</body>
</html>